<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a class="nav-link" href="{% url 'create_receipt' %}">Create Receipt</a></li>
                <li><a class="nav-link" href="{% url 'categories_list' %}">Categories List</a></li>
                <li><a class="nav-link" href="{% url 'create_category' %}">Create Category</a></li>
                <li><a class="nav-link" href="{% url 'account_list' %}">Account List</a></li>
                <li><a class="nav-link" href="{% url 'create_account' %}">Create Account</a></li>
                <li><a href="{% url 'logout'  %}">Logout</a></li>
                {% else %}
                <li><a class="nav-link" href="{% url 'signup'%}">Sign up</a></li>
                <li><a class="nav-link" href="{% url 'login' %}">Login</a></li>

                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>

</html>
