
{% extends 'base.html' %}

{% block title %}
Account List View
{% endblock title %}

{% block content %}

<h1>Account List View</h1>
<table>

    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for acc in accountList %}
        <tr>
            <td>{{ acc.name }}</td>
            <td>{{ acc.number }}</td>
            <td>{{ acc.receipts.all.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
