{% extends 'base.html' %}

{% block title %}
Expense category list view
{% endblock title %}

{% block content %}

<h1>Expense Category List View</h1>
<table>

    <thead>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for categ in expense %}
        <tr>
            <td>{{categ.name }}</td>
            <td>{{categ.receipts.all.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
